@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #272625; /* 배경색을 원하는 색상으로 변경 */
  --foreground: #ffffff; /* 텍스트 색상 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272625; /* 다크 모드에서도 동일한 배경색 */
    --foreground: #ffffff; /* 다크 모드에서 밝은 텍스트 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* 강원교육튼튼 */
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Gabia Gosran */
@font-face {
  font-family: 'GabiaGosran-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2409-2@1.0/GabiaGosran-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* KCC-Hanbit */
@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} 

/* YES24 Myoungjo */
@font-face {
  font-family: 'YESMyoungjo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Paperlogy */
@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

/* 이서윤체 */
@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 모노플렉스Wide */
@font-face {
  font-family: 'MonoplexKRWide-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-wide@1.0/MonoplexKRWide-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 오뮤 다예쁨체 */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}