@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #272625; /* 배경색을 원하는 색상으로 변경 */
  --foreground: #ffffff; /* 텍스트 색상 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272625; /* 다크 모드에서도 동일한 배경색 */
    --foreground: #ffffff; /* 다크 모드에서 밝은 텍스트 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
