@font-face {
    font-family: Yes24;
    src: url(/fonts/YES24MyoungjoR.otf) format('opentype');
    font-weight: normal;
    font-style: normal; 
}

.background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  /* 화면 전체 높이 */
    width: 100vw;   /* 화면 전체 너비 */
    overflow: hidden;
    z-index: -1;
}

.leftLogo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1; /* 배경보다 위에 표시 */
}

.rightLogo {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1; /* 배경보다 위에 표시 */
}

.textBox {
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: 'Yes24', sans-serif;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정중앙으로 이동 */
    z-index: 2; /* 배경 이미지보다 위에 표시 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}