.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContainer {
    background: #1c1c1e;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
  
  .modalHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .modalInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #2c2c2e;
    color: #fff;
  }
  
  .modalButtonGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .getBuildButton {
    padding: 10px 20px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .getBuildButton:hover {
    background-color: #005bb5;
  }
  
  .deleteButton {
    padding: 10px 20px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .deleteButton:hover {
    background-color: #c9302c;
  }
  
  .cancelButton {
    padding: 10px 20px;
    background-color: #3a3a3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancelButton:hover {
    background-color: #555;
  }

  .fetchBuildButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .fetchBuildButton:hover {
    background-color: #0056b3;
  }